{% extends './base.html' %}
{% block content %}

<div class="card-body">
  
<form  id="form_student">
  {% csrf_token %}
  <div class="row">
    <input type="hidden" name="id" placeholder="id" id="id" class="form-control mb-4" name="id">
      
    <div class="col-lg-3">
   
      <input type="text"  placeholder="first_name" id="first_name" class="form-control mb-4" name="first_name">
  </div>
  <div class="col-lg-3">
   
    <input type="text"  placeholder="last_name" id="last_name" class="form-control mb-4" name="last_name">
</div>
  <div class="col-lg-3">
   
      <input type="email"  name="email" id="email"  class="form-control mb-4"  placeholder="email">
  </div>
  <div class="col-lg-2">
    
    <select onchange="handleChangestudent();" name="school" id="select"  class="form-control mb-4"  onclick="dropdownstudent();" > 

    </select>
  </div>
  <div class="col-lg-1">
    <button  class="btn btn-primary" type="submit"  >submit</button>
</div>
   
  
  </div>
 
</form>
</div>
{% endblock %}