{% extends "./base.html" %}
{% block content %}

<div class="card-body">
  
<form  id="form_task">
  {% csrf_token %}
  <div class="row">
    
    
    
    <input type="hidden" name="id" placeholder="id" id="id" class="form-control mb-4" name="id" >

    <div class="col-lg-4">
   
      <input type="text" name="title" placeholder="title" id="title" class="form-control mb-4" name="title" >
  </div>
  <div class="col-lg-3">
    
      <input type="text"  id="description"  class="form-control mb-4" name="description" placeholder="description">
  </div>
  <div class="col-lg-3">
    
    <select onchange="handleChange();" name="school" id="select"  class="form-control mb-4"  onclick="dropdown();" > 

    </select>
  </div>
  
  <div class="col-lg-2">
   
    <button  class="btn btn-primary" type="submit" id="fetchbtn" onclick = "popBtnHandler()";>submit</button>

  </div>
  

   

</div>
</form>

</div>


{% endblock %}