{% extends './base.html' %}
{% block content %}

<div class="card-body">  
<form  id="form_class">
    {% csrf_token %}
    <div class="row">
      <input type="hidden"  placeholder="id"  class="form-control mb-4" name="id">
        
      <div class="col-lg-5">
     
        <input type="text" placeholder="class_name" class="form-control mb-4" name="name">
    </div>
    <div class="col-lg-5">
     
      <input type="text" name="number_of_student " placeholder="number_of_student "  class="form-control mb-4" >
  </div>
    
    {% comment %} <div class="col-lg-2"> {% endcomment %}
      {% comment %} <select onchange="handleChangeclassroom();" name="school" id="select"  class="form-control mb-4"  onclick="dropdownclassroom();" >  {% endcomment %}
  {% comment %}  {% endcomment %}
      {% comment %} </select> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <div class="col-lg-1">
      <button  class="btn btn-primary"  type="submit"  >submit</button>
  </div>
     
    
    </div>
   
  </form>
  </div>
  {% endblock %}