{%  extends './base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-lg-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">School Details</h4>
          </div>
          <div class="card-body">
              <form class="form-horizontal" id="form_school">
                  <div class=" row mb-4">
                      
                      <div class="col-md-6">
                          <input type="text" class="form-control" value="" placeholder="School Name">
                      </div>
                      <div class="col-md-6">
                        <input type="text" id="example-email" name="example-email" class="form-control" placeholder="School ID">
                    </div>
                  </div>
                 
                  <div class=" row mb-4">
                      
                      <div class="col-md-6">
                          <input type="text" class="form-control" value="" placeholder="School Address">
                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="State">
                    </div>
                  </div>
                 
                  <div class=" row mb-4">
                      
                      <div class="col-md-6">
                          <input type="text" class="form-control" placeholder="Country" value="">
                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Postalcode">
                    </div>
                  </div>
                
                  <div class=" row mb-4 mb-4">
                     
                      <div class="col-md-6">
                          <input class="form-control" placeholder="Ranking" type="number" name="number">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control" type="url" name="url" placeholder="Website URL">
                    </div>
                  </div>
                  <div class=" row mb-4">
                     
                    <div class="col-md-6">
                      <input class="form-control" type="text" name="" placeholder="Type">
                      
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type="text" name="" placeholder="Size">
                </div>
                  </div>
                  
                  <div class=" row mb-4">
                   
                   
                    <!-- <div class="col-md-6"> -->
                      <!-- <input class="form-control" type="tel" name="tel" placeholder="Telephone"> -->
<!--  -->
                  <!-- </div> -->
                  <!-- <div class="col-md-6"> -->
                    <!-- <input class="form-control" type="file" name=""> -->
                <!-- </div> -->
                </div>
                 
                  <div class=" row mb-0">
                    <div class="col-md-6">
                      <input class="form-control" type="email" name="" placeholder="email"> 
                  </div>
                  <div class="col-md-6">
                    <button  class="btn btn-primary" type="submit" id="" >submit</button>
                </div>
                    
                </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}