{%  extends './base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-lg-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">School Details</h4>
          </div>
          <div class="card-body">
              <form class="form-horizontal">
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label">School Name</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" value="" placeholder="School Name">
                      </div>
                  </div>
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label" for="example-email">School ID</label>
                      <div class="col-md-9">
                          <input type="email" id="example-email" name="example-email" class="form-control" placeholder="School ID">
                      </div>
                  </div>
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label">School Address</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" value="" placeholder="Address">
                      </div>
                  </div>
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label">State</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="state">
                      </div>
                  </div>
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label">Country</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="Country" value="">
                      </div>
                  </div>
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label">PostCode</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="postalcode">
                      </div>
                  </div>
                  <div class=" row mb-4 mb-4">
                      <label class="col-md-3 form-label">Ranking</label>
                      <div class="col-md-9">
                          <input class="form-control" type="number" name="number">
                      </div>
                  </div>
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label">Website URL</label>
                      <div class="col-md-9">
                          <input class="form-control" type="url" name="url">
                      </div>
                  </div>
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label">School Type</label>
                      <div class="col-md-9">
                          <input class="form-control" type="text" name="" placeholder="Type">
                      </div>
                  </div>
                  <div class=" row mb-4">
                    <label class="col-md-3 form-label">School Size</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" name="" placeholder="Size">
                    </div>
                </div>
                  <div class=" row mb-4">
                      <label class="col-md-3 form-label">Tel</label>
                      <div class="col-md-9">
                          <input class="form-control" type="tel" name="tel">
                      </div>
                  </div>
                  <div class=" row mb-0">
                    <label class="col-md-3 form-label">Upload File</label>
                    <div class="col-md-9">
                        <input class="form-control" type="file" name="tel">
                    </div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}