{% load static %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />


    <div class="login">
        <div class="form">
          <form  action="/dashboard/" method="POST">
            {% csrf_token %}
            <span class="material-icons">lock</span>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" placeholder="password" required  name="password"/>
            <button >login</button>
          </form>  
        </div>
      </div>
